
    body{
       
            font-family: Arial, helvetica, sans-serif;
            line-height: 1.4;
     
    }
    main{
       
        width:100% ;
        padding-bottom: 80px;
        list-style: none; 
        font-size: 3em;
        text-transform: uppercase;
        
      
        
    }

  
nav#link{
    display:block;
   

  
   
}





p{
        font-family: "Open Sans Condensed", "Arial", sans-serif;
        font-size: 20px;
        float:right;
        box-sizing: border-box;
        text-align: justify;
        
           
       

    }
    h1{
        font-family: "Open Sans Condensed", "Arial", sans-serif;
        font-size: 20px;
    }
  
  
 
    @Media(min-device:1000px){
        #conteudo{
            width:50% ;
           text-align: center;
           

        }
      
    
    }


